{% extends 'myCloud/index.html' %}
{% block content %}
    <h1>SignUp form</h1>
    <form method="POST">
        <label for="email">Email:</label>
        <br>
        <input type="email" id="email" name="email">
        <br>
        <label for="fname">First name:</label>
        <br>
        <input type="text" id="fname" name="fname">
        <br>
        <label for="lname">Last name:</label>
        <br>
        <input type="text" id="lname" name="lname">
        <br>
        <input class="button" type="submit" name="Register" value="Register">
    </form>
{% endblock %}
