{% extends 'myCloud/musics.html' %}
{% block content %}
    <table>
        <tr>
            <th>Picture</th>
            <th>Artist</th>
            <th>Title</th>
            <th>Year</th>
            <th>Remove</th>
        </tr>
        {% for song in songs %}
            <tr>
                <td id="testing">
                    <img class="song-image"  id="{{ song.artist }}"  />
                </td>
                <td id="artist"  value="{{ song.artist }}">{{ song.artist }}</td>
                <td>{{ song.title }}</td>
                <td>{{ song.year }}</td>
                <td>
                    <form method = "POST">
                        {% csrf_token %}
                        <button type="submit"
                                name="song"
                                value='{ "title": "{{ song.title }}", "year": "{{ song.year }}" }'>Remove</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
{% block feature %}{{ block.super }}{% endblock %}
