<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    <head>
      {% load static %}
      <link rel="stylesheet" href="{% static 'mycrypt/css/style.css' %}">
      <link rel="icon" href="{% static 'mycrypt/img/Logo.png' %}">
      <link rel="stylesheet" href="{% static 'mycrypt/css/bootstrap.css' %}">
      <title>MyCrypt</title>
      <script 
        type="text/javascript"
        src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"
      ></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.1/socket.io.js"></script>
      <script src="https://unpkg.com/lightweight-charts/dist/lightweight-charts.standalone.production.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
      </head>
  </head>
  <body>
	  <h1> hiiiiii</h1>
  </body>
  
  
  <section id="home" class="home_bg">
    <div id="particles-js">
      <canvas class="particles-js-canvas-el" width="494" height="2976" style="width: 100%; height: 100%;"></canvas>
    </div>
  
  <div class="i-container">
  <div class="i-row">
  <div class="col-lg-12 col-sm-12 col-xs-12">
    <div class="hero-text">
    </div> 
  </div>
  </div>
  </div>
</section>
</html>

